body {
    text-align: center;
}

h1 {
    color: rgb(215, 88, 88);
}

input {
    border-radius: 5px;
    border: 1px solid rgb(202, 87, 87);
    padding: 5px;
}

ul {
    display: table;
    margin: 0 auto;
    text-align: left;
}

button {
    border-radius: 5px;
    border: 1px solid rgb(204, 88, 88);
    padding: 5px;
}